<!DOCTYPE html>
<html>

<head>
    <title>Painter Page - Guest Version</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: white;
        }

        canvas {
            background-color: whitesmoke;
            border: solid black 1px;
            cursor: crosshair;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }

        .color-button {
            width: 30px;
            height: 30px;
            border-radius: 5px;
            display: inline-block;
            margin: 5px;
            cursor: pointer;
        }

        .icon {
            font-size: 24px;
        }

        .exit-button {
            padding: 10px 20px;
            background-color: #ff9966;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .exit-button:hover {
            background-color: #ff6600;
        }

        .tooltip {
            position: relative;
            display: inline-block;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    </style>
</head>

<body class="bg-white text-black">
    <div class="bg-teal-500 py-4 flex items-center justify-between px-6">
        <div class="flex items-center">
            <i class="fas fa-paint-brush text-white mr-2"></i>
            <p class="text-3xl font-bold text-white">ePaint</p>
        </div>
        
        <div class="flex space-x-4">
            <a href="#" class="text-white font-medium flex items-center hover:underline">
                <i class="fas fa-home mr-1"></i> Home
            </a>
            <a href="#" class="text-white font-medium flex items-center hover:underline">
                <i class="fas fa-images mr-1"></i> Gallery
            </a>
            <a href="#" class="text-white font-medium flex items-center hover:underline">
                <i class="fas fa-info-circle mr-1"></i> About
            </a>
            <a href="/" class="flex items-center">
                <button class="exit-button px-3 py-1 bg-teal-700 text-white rounded-lg hover:bg-teal-600">
                    Exit
                </button>
            </a>
        </div>
    </div>
    
    <div class="container mx-auto mt-8 px-4">
        <canvas id="paintCanvas" class="w-full max-w-5xl h-96 mx-auto border border-gray-300 shadow-md"></canvas>
        <div id="controls" class="mt-10 bg-gray-100 p-6 rounded-lg shadow-lg text-center space-y-4">
            <div class="flex justify-center space-x-4">
                <div class="tooltip">
                    <button class="color-button" style="background-color: #ff0000;" onclick="changeColor('#ff0000')"></button>
                    <span class="tooltiptext">Red</span>
                </div>
                <div class="tooltip">
                    <button class="color-button" style="background-color: #00ff00;" onclick="changeColor('#00ff00')"></button>
                    <span class="tooltiptext">Green</span>
                </div>
                <div class="tooltip">
                    <button class="color-button" style="background-color: #0000ff;" onclick="changeColor('#0000ff')"></button>
                    <span class="tooltiptext">Blue</span>
                </div>
                <div class="tooltip">
                    <button class="color-button" style="background-color: #ffff00;" onclick="changeColor('#ffff00')"></button>
                    <span class="tooltiptext">Yellow</span>
                </div>
                <div class="tooltip">
                    <button class="color-button" style="background-color: #ff00ff;" onclick="changeColor('#ff00ff')"></button>
                    <span class="tooltiptext">Magenta</span>
                </div>
                <div class="tooltip">
                    <button class="color-button" style="background-color: #000000;" onclick="changeColor('#000000')"></button>
                    <span class="tooltiptext">Black</span>
                </div>
                <div class="tooltip">
                    <button class="color-button" style="background-color: #ffffff;" onclick="changeColor('#ffffff')"></button>
                    <span class="tooltiptext">White</span>
                </div>
                <div class="tooltip">
                    <button class="color-button" style="background-color: #ffa500;" onclick="changeColor('#ffa500')"></button>
                    <span class="tooltiptext">Orange</span>
                </div>
                <div class="tooltip">
                    <button class="color-button" style="background-color: #800080;" onclick="changeColor('#800080')"></button>
                    <span class="tooltiptext">Purple</span>
                </div>
                <div class="tooltip">
                    <button class="color-button" style="background-color: #00ffff;" onclick="changeColor('#00ffff')"></button>
                    <span class="tooltiptext">Cyan</span>
                </div>
            </div>
            <div class="flex justify-center space-x-4 mt-4">
                <div class="tooltip">
                    <button class="color-button" style="background-color: #008080;" onclick="changeColor('#008080')"></button>
                    <span class="tooltiptext">Teal</span>
                </div>
                <div class="tooltip">
                    <button class="color-button" style="background-color: #008000;" onclick="changeColor('#008000')"></button>
                    <span class="tooltiptext">Dark Green</span>
                </div>
                <div class="tooltip">
                    <button class="color-button" style="background-color: #800000;" onclick="changeColor('#800000')"></button>
                    <span class="tooltiptext">Maroon</span>
                </div>
                <div class="tooltip">
                    <button class="color-button" style="background-color: #808000;" onclick="changeColor('#808000')"></button>
                    <span class="tooltiptext">Olive</span>
                </div>
                <div class="tooltip">
                    <button class="color-button" style="background-color: #808080;" onclick="changeColor('#808080')"></button>
                    <span class="tooltiptext">Gray</span>
                </div>
                <div class="tooltip">
                    <button class="color-button" style="background-color: #ff69b4;" onclick="changeColor('#ff69b4')"></button>
                    <span class="tooltiptext">Pink</span>
                </div>
                <div class="tooltip">
                    <button class="color-button" style="background-color: #b0e0e6;" onclick="changeColor('#b0e0e6')"></button>
                    <span class="tooltiptext">Powder Blue</span>
                </div>
                <div class="tooltip">
                    <button class="color-button" style="background-color: #f0e68c;" onclick="changeColor('#f0e68c')"></button>
                    <span class="tooltiptext">Khaki</span>
                </div>
                <div class="tooltip">
                    <button class="color-button" style="background-color: #442944;" onclick="changeColor('#442944')"></button>
                    <span class="tooltiptext">Dark Purple</span>
                </div>
                <div class="tooltip">
                    <button class="color-button" style="background-color: #87cefa;" onclick="changeColor('#87cefa')"></button>
                    <span class="tooltiptext">Light Sky Blue</span>
                </div>
            </div>
            <div class="mt-4">
                <div class="tooltip">
                    <button id="pencil" title="Eraser" onclick="changeColor('whitesmoke')" class="bg-gray-300 w-8 h-8 flex items-center justify-center rounded-md">
                        <span class="icon">🧽</span>
                        <span class="tooltiptext">Eraser</span>
                    </button>
                </div>
                <div class="mt-4">
                    <label for="lineWidthInput" class="block mb-2">Brush Size</label>
                    <input type="range" id="lineWidthInput" min="1" max="40" value="5" class="w-48 mx-auto slider appearance-none h-2 bg-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-opacity-50">
                </div>
            </div>
        </div>
    </div>

    <script src="/painter.js"></script>
</body>

</html>
